<template>
    <section id="contact-section">
        <h2>Entre em contato</h2>

        <form>
            <div>
                <label for="name">Nome: </label>
                <input type="text" id="name">
            </div>
            <div>
                <label for="email">Email: </label>
                <input type="email" placeholder="exemplo@gmail.com" id="email">
            </div>
            <div>
                <p>Deixe uma mensagem:</p>
                <textarea id="sla" cols="30" rows="8" placeholder="Sua mensagem..."></textarea>
            </div>
            
            <input type="submit" value="Enviar">
        </form>
    </section>
</template>