<template>
    <section id="grad-section">
        <section>
            <h2>Habilidade</h2>
            <p>Conhecimento em python avançado, noções em análise de dados com a linguagem</p>
            <p>Conhecedor de tecnologias web e desenvolvedor <dfn>front-end</dfn>, criador de interfaces web. Conhecedor de tecnologias como:</p>
            <ul>
                <li>
                    <img src="/media/icons8-brilhante-48.png" alt="svelte">
                    <a href="https://svelte.dev" target="_blank" rel="external">Svelte</a>
                </li>
                <li>
                    <img src="/media/electron-icon.png" alt="electron-icon">
                    <a href="https://www.electronjs.org" target="_blank" rel="external">Electron</a>
                </li>
            </ul>
        </section>

        <section>
            <dl>
                <dt>
                    <h2>Idiomas</h2>
                </dt>
                <dd>Inglês intermediário</dd>
            </dl>
        </section>
    </section>
</template>